<head>
  <title>{{ page.title }} — {{ site.title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta name="description" content="{{ site.description }}">
  <meta name="theme-color" content="#717981">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ site.baseurl }}{{ page.url }}">
	<link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body class="is-loading">
